<!-- conexion-form.component.html -->
<div class="form-container">
    <form [formGroup]="conexionForm">
      <label for="nombre">Nombre</label>
      <input id="nombre" formControlName="nombre" />
  
      <label for="host">Host</label>
      <input id="host" formControlName="host" />
  
      <label for="puerto">Puerto</label>
      <input id="puerto" formControlName="puerto" />
  
      <label for="dbname">Base de Datos</label>
      <input id="dbname" formControlName="dbname" />
  
      <label for="usuario">Usuario</label>
      <input id="usuario" formControlName="usuario" />
  
      <label for="contrasena">Contraseña</label>
      <input id="contrasena" type="password" formControlName="contrasena" />
  
      <button type="button" (click)="comprobarConexion()">Comprobar Conexión</button>
      <button type="button" (click)="anadirConexion()" *ngIf="conexionForm.valid">Añadir Conexión</button>
    </form>
  </div>
  