<div class="chat-layout">
    <div class="sidebar">
      <!-- Contenido de la barra lateral aquí -->
      <h2>Historial de Chats</h2>
      <!-- Aquí puedes agregar una lista de chats anteriores o funcionalidades relacionadas -->
    </div>
    <div class="main-content">
      <div class="chat-container">
        <div class="messages">
          <div *ngFor="let message of messages" [ngClass]="{'user-message': message.role === 'user', 'assistant-message': message.role === 'assistant'}">
            <div *ngIf="message.content" class="message-content">{{ message.content }}</div>
            <div *ngIf="message.sqlResult" class="sql-result" [innerHTML]="message.sqlResult"></div>
          </div>
        </div>
      </div>
      <div class="input-area">
        <input [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Escribe tu mensaje...">
        <button (click)="sendMessage()">Enviar</button>
        <button (click)="clearChat()" class="clear-chat-btn">Borrar Chat</button>
      </div>
    </div>
  </div>
  