<ng-template #noTokenTemplate>
  <div class="no-token-msg">
    <p>Inicia sesión para ver y gestionar tus conexiones. Aquí tienes una conexión de prueba:</p>
  </div>
</ng-template>

<!-- connections-list.component.html -->
<div class="main-content">
  <div class="connections-table">
    <table>
      <thead>
        <tr>
          <th>Nombre de la Base de Datos</th>
          <th>Host</th>
          <th>DB Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="hasToken; else testConnectionTemplate">
          <tr *ngFor="let connection of connections">
            <td>{{ connection.name }}</td>
            <td>{{ connection.host }}</td>
            <td>{{ connection.db_type }}</td>
            <td>
              <button (click)="openEditModal(connection)">Editar</button>
              <button (click)="deleteConnection(connection.id)">Eliminar</button>
            </td>
          </tr>
        </ng-container>
        <ng-template #testConnectionTemplate>
          <tr>
            <td>{{ testConnection.name }}</td>
            <td>{{ testConnection.host }}</td>
            <td>{{ testConnection.db_type }}</td>
            <td>
              <button (click)="openEditModal(testConnection)">Editar</button>
              <button (click)="deleteConnection(testConnection.id)">Eliminar</button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <!-- Alerta informativa para usuarios no autenticados -->
  <div *ngIf="!hasToken" class="info-alert">
    <div class="alert-icon">ℹ️</div>
    <div class="alert-content">
      <h3>¡Bienvenido a nuestra plataforma de chat con bases de datos!</h3>
      <p>Te hemos proporcionado una conexión de prueba para que puedas experimentar con nuestro chat sin necesidad de registrarte. Esta conexión te permite explorar las funcionalidades básicas de nuestra plataforma.</p>
      <p>Para disfrutar de todas las características, incluyendo la gestión de tus propias conexiones, te invitamos a 
        <a href="#" (click)="openSignInModal($event)">iniciar sesión</a> o 
        <a href="#" (click)="openRegisterModal($event)">crear una cuenta</a>.
      </p>
      
    </div>
  </div>

  <!-- Modal de edición -->
  <div class="modal" *ngIf="isEditModalOpen">
    <div class="modal-content">
      <h2>Editar Conexión</h2>
      <form (ngSubmit)="editConnection()">
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="editConnectionData.name" name="name" required />

        <label for="host">Host:</label>
        <input id="host" [(ngModel)]="editConnectionData.host" name="host" required />

        <label for="db_type">DB Type:</label>
        <input id="db_type" [(ngModel)]="editConnectionData.db_type" name="db_type" required />

        <label for="port">Port:</label>
        <input id="port" [(ngModel)]="editConnectionData.port" name="port" required />

        <label for="dbname">Base de Datos:</label>
        <input id="dbname" [(ngModel)]="editConnectionData.dbname" name="dbname" required />

        <label for="user">User:</label>
        <input id="user" [(ngModel)]="editConnectionData.user" name="user" required />

        <label for="password">Password:</label>
        <input id="password" [(ngModel)]="editConnectionData.password" name="password" type="password" required />

        <button type="submit">Guardar cambios</button>
        <button type="button" (click)="closeEditModal()">Cancelar</button>
      </form>
    </div>
  </div>
</div>