<nav class="navbar">
    <div class="nav-left">
        <a>Logo</a>
      </div>
    <div class="nav-mid">
      <a routerLink="/" class="nav-item">Inicio</a>
      <a routerLink="/add-connection" class="nav-item">Añadir Conexión</a>
      <a routerLink="/connections-list" class="nav-item">Lista de Conexiones</a>
      <a routerLink="/start-chat" class="nav-item">Iniciar Chat</a>
    </div>
    <div class="nav-right">
      <button routerLink="/login" class="login-btn">Login</button>
    </div>
  </nav>
  