.notification-container {
  position: fixed;
  top: 70px; /* Ajusta este valor para que aparezca más abajo */
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 10000; /* Asegúrate de que esté por encima del navbar */
  pointer-events: none;
}

.notification {
  padding: 15px 30px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: auto;
}

.notification.show {
  opacity: 1;
  transform: translateY(0);
}

.notification.success {
  background-color: #4CAF50;
}

.notification.error {
  background-color: #f44336;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.notification.show {
  animation: slideDown 0.3s ease forwards;
}
